.btn {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 2.571428571 !important;
  padding: 16px 0;
}

.btn_lg {
  font-size: 16px;
  line-height: 3 !important;
  padding: 0 28px !important;
}

.btn_primary {
  color: #fff;
  background: linear-gradient(45deg, map-get($mat-purple, 300), map-get($mat-purple, 800));
}
