.section {

}

.section__header {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacer * 5;
}

.section__heading,
.section__lead {
  text-align: center;
}

.section__heading {
  margin-bottom: map-get($spacers, 3);
}

.section__lead {
  margin-bottom: 0;
  font-size: $font-size-base;
}

