<div class="game__square game__square_deep-orange">
  <fa-icon [icon]="faHtml"></fa-icon>
</div>

<div class="game__square game__square_blue">
  <fa-icon [icon]="faGit"></fa-icon>
</div>

<div class="game__square game__square_red">
  <fa-icon [icon]="faAngular"></fa-icon>
</div>

<div class="game__square game__square_deep-purple">
  <fa-icon [icon]="faPhp"></fa-icon>
</div>

<div class="game__square game__square_yellow">
  <fa-icon [icon]="faJs"></fa-icon>
</div>

<div class="game__square game__square_green">
  <fa-icon [icon]="faCss"></fa-icon>
</div>

<div class="game__square game__square_pink">
  <fa-icon [icon]="faSass"></fa-icon>
</div>

<div class="game__square game__square_cyan">
  <fa-icon [icon]="faJava"></fa-icon>
</div>
