@import "~bootstrap/scss/mixins";
@import "../../../styles/abstracts/variables";


:host {
  display: block;
}

.about__person-list {
  width: 100%;
  max-width: 360px;
  @include list-unstyled();

  li {
    display: flex;

    + li {
      border-top: 1px solid map-get($mat-gray, 300);
    }

    span:last-child {
      margin-left: auto;
    }
  }
}
