<section class="section">
  <header class="section__header">
    <h2 class="section__heading">Kilka słów o nas</h2>
    <p class="section__lead">Jesteśmy ekspertami, pasjonatami i chętnie dzielimy się zdobytą wiedzą. Wieloletnie
      doświadczenie podczas którego przyszło nam mierzyć się z niezliczoną ilością wyzwań sprawia, że mamy już
      wypracowane metody, które chętnie przekazujemy dalej.</p>
  </header>

  <article class="mb-6">
    <div class="row">
      <figure class="col-sm-4 mb-5">
        <img src="//via.placeholder.com/348" width="348" height="348" alt="" class="img-fluid rounded" loading="lazy">
      </figure>
      <div class="col-sm-8 d-flex justify-content-center flex-column">
        <header>
          <p class="paragraph-muted">Backend developer</p>
          <h3 class="mb-3">Kuba Wojtyra</h3>
        </header>
        <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui
          felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Molestie ultricies
          porta urna. Vestibulum commodo volutpat a, convallis laoreet.</p>
        <ul class="mt-2 mt-xl-3 about__person-list">
          <li>
            <span class="">Email:</span>
            <span><a href="#">kuba@wojtyra.com</a></span>
          </li>
          <li class="mt-2 pt-2 mt-xl-3 pt-xl-3">
            <span class="">Telefon:</span>
            <span><a href="#">000-000-000</a></span>
          </li>
          <li class="mt-2 pt-2 mt-xl-3 pt-xl-3">
            <span class="">Facebook:</span>
            <span><a href="#">fb.me/kuba</a></span>
          </li>
        </ul>
      </div>
    </div>
  </article>

  <article>
    <div class="row">
      <figure class="col-sm-4 text-sm-right order-md-2 mb-5">
        <img src="./assets/mdobroszek.jpg" width="348" height="348" alt="" class="img-fluid rounded" loading="lazy">
      </figure>
      <div class="col-sm-8 d-flex justify-content-center flex-column order-md-1">
        <header>
          <p class="paragraph-muted">Frontend developer</p>
          <h3 class="mb-3">Marcin Dobroszek</h3>
        </header>
        <p>Od lat wielki miłośnik tworzenia interfejsów użytkownika, czystego i uporządkowanego kodu oraz technologii
          firmy Google. Dlatego też nie mogło być inaczej - musiał zacząć pracować z frameworkiem
          <mark class="about__text-mark">
          <a target="_blank" href="https://angular.io/">
            Angular<fa-icon [icon]="faExternalLink" class="ml-1"></fa-icon>
          </a>
          </mark>
          , którego wciąż pragnie zgłebiać by stać się ekspertem.</p>
        <ul class="mt-2 mt-xl-3 about__person-list">
          <li>
            <span class="">Email:</span>
            <span><a href="mailto:marcin.dobroszek@gmail.com">marcin.dobroszek@gmail.com</a></span>
          </li>
          <li class="mt-2 pt-2 mt-xl-3 pt-xl-3">
            <span class="">Telefon:</span>
            <span><a href="tel:693056567">693-056-567</a></span>
          </li>
          <li class="mt-2 pt-2 mt-xl-3 pt-xl-3">
            <span class="">Facebook:</span>
            <span><a href="https://fb.me/dobroszek" target="_blank">fb.me/dobroszek</a></span>
          </li>
        </ul>
      </div>

    </div>
  </article>
</section>
