<div class="row">
  <div class="col-8 d-flex align-items-center">
    <section>
      <div class="paragraph-muted mb-3">Kursy stacjonarne</div>
      <h1 class="mb-3">Szkolenia z programowania</h1>
      <p class="mb-5 cover__lead">
        Przeprowadzimy Cię przez pierwsze kroki jakie musi postawić każdy programista. Zaczniemy od instalacji i
        konfiguracji niezbędnych narzędzi do pracy, <br class="d-none d-xl-block"> a skończymy na stworzeniu w pełni funkcjonalnej aplikacji.
      </p>
      <button type="button" mat-flat-button class="btn btn_lg btn_primary">Najbliższe kursy</button>
    </section>
  </div>
  <div class="col-4 d-flex align-items-center">
    <app-game class="ml-auto"></app-game>
  </div>
</div>
