<div class="row">
  <div class="col-lg-3 col-xl-4 d-none d-sm-flex align-items-center justify-content-center order-lg-2">
    <app-game class="ml-lg-auto"></app-game>
  </div>
  <div class="col-lg-9 col-xl-8 d-flex align-items-center order-lg-1">
    <section class="mt-6 pt-6 pt-lg-0 mt-lg-0">
      <div class="paragraph-muted mb-3">Kursy stacjonarne</div>
      <h1 class="cover__heading mb-3">Szkolenia z programowania</h1>
      <p class="mb-5 cover__lead">
        Przeprowadzimy Cię przez pierwsze kroki jakie musi postawić każdy programista. Zaczniemy od instalacji i
        konfiguracji niezbędnych narzędzi <br class="d-none d-md-block d-xl-none"> do pracy, <br class="d-none d-xl-block"> a skończymy na stworzeniu w pełni funkcjonalnej aplikacji.
      </p>
      <button type="button" mat-flat-button class="btn btn_lg btn_primary">Najbliższe kursy</button>
    </section>
  </div>
</div>
