// Config
// application-wide Sass variables


// Color system

@import "~@angular/material/theming";

// Material Design palettes https://material.io/design/color/
$primary-primary-param: 500;
$app-primary: mat-palette($mat-purple, $primary-primary-param);
$accent-primary-param: 400;
$app-accent: mat-palette($mat-red, $accent-primary-param);
$app-warn: mat-palette($mat-red);

$colors: ();
$colors: map-merge((
  "blue": map-get($mat-blue, 500),
  "indigo": map-get($mat-indigo, 500),
  "purple": map-get($mat-purple, 500),
  "pink": map-get($mat-pink, 500),
  "red": map-get($mat-red, 500),
  "orange": map-get($mat-orange, 500),
  "amber": map-get($mat-amber, 600),
  "yellow": map-get($mat-yellow, 500),
  "green": map-get($mat-green, 500),
  "teal": map-get($mat-teal, 500),
  "cyan": map-get($mat-cyan, 500),
  "gray-light": map-get($mat-gray, 400),
  "gray": map-get($mat-gray, 600),
  "gray-dark": map-get($mat-gray, 800)
), $colors);

$color-primary: map-get($app-primary, $primary-primary-param);
$color-accent: map-get($app-accent, $accent-primary-param);
$color-success: color("green");
$color-danger: map-get($colors, "red");
$color-warning: color("amber");

$theme-colors: ();
$theme-colors: map-merge((
  "primary": $color-primary,
  "secondary": map-get($app-accent, 500),
  "accent": map-get($app-accent, 500),
  "success": $color-success,
  "info": color("blue"),
  "warning": $color-warning,
  "danger": $color-danger,
  "light": map-get($mat-gray, 50),
  "dark": map-get($mat-gray, 900)
), $theme-colors);


// Spacing

$spacer: 12px;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3)
), $spacers);

// Body

$body-bg: #fff;
$body-bg-img: linear-gradient(to right, $body-bg, $body-bg);
$body-color: #4d4d4d; // #4D4D4D from "ksiega-znaku.pdf"


// Links

$link-color: map-get($app-primary, 500);
$link-decoration: underline;
$link-hover-color: map-get($app-primary, 700);
$link-hover-decoration: underline;


// Grid

$grid-gutter-width: 16px;


// Typography

$font-family-base: Poppins, "Helvetica Neue", sans-serif;
$font-family-brand: Poppins, "Helvetica Neue", sans-serif;
$font-family-logo: "Fredoka One", cursive;

$font-size-base: 14px;
$font-size-lg: 18px;
$font-size-sm: 12px;
$font-size-tiny: 10px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

$line-height-base: 1.42857;
$line-height-large: 1.71429;

$h1-font-size: 18px;
$h1-font-weight: 600;
$h1-line-height: 32px;
$h2-font-size: 20px;
$h2-font-weight: 600;
$h2-line-height: 32px;
$h3-font-size: 16px;
$h3-font-weight: 500;
$h3-line-height: 22px;
$h4-font-size: 13px;
$h4-font-weight: 600;
$h4-line-height: 20px;

$display1-font-size: 34px;
$display1-font-weight: 600;
$display1-line-height: 1.17647;

$display2-font-size: 45px;
$display2-font-weight: 400;
$display2-line-height: 1.06667;

$headings-margin-bottom: $spacer / 2;
$headings-font-family: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: #231f20; // #231F20 from "ksiega-znaku.pdf"

$text-muted: rgba(#000, .54);

$paragraph-margin-bottom: $spacer;

// Components

$button-font-weight: 500;
$transition-duration-base: .25s;
$transition-color: color $transition-duration-base ease, background $transition-duration-base ease;

$box-shadow: rgba(rgb(60, 64, 67), .3) 0 1px 2px 0, rgba(rgb(60, 64, 67), .15) 0 1px 3px 1px;

$border-width: 1px;
$border-color: map-get($mat-gray, 300);
$border-light-color: map-get($mat-gray, 200);

$border-radius: 4px;

$hr-margin-y: $spacer;
$hr-border-width: 1px;
$hr-border-color: $border-color;

$icon-size-base: 24px;

$nav-link-padding-y: 0; // fix
