@import "../styles/abstracts/variables";

.logo {
  display: inline-block;
  font-family: $font-family-logo;
  font-size: 30px;
  background: linear-gradient(45deg, map-get($mat-purple, 200), map-get($mat-purple, 800));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$game-size: 270px;
$game-square-space: 6px;
$game-square-size: floor($game-size / 3) - (($game-square-space * 4) / 3);

.game {
  width: $game-size + ($game-square-space * 2);
  height: $game-size + ($game-square-space * 2);
  margin-left: -$game-square-space;
  margin-right: -$game-square-space;
}

.game__square {
  display: inline-block;
  float: left;
  width: $game-square-size;
  height: $game-square-size;
  margin: $game-square-space;
  border-radius: $border-radius;
}

.header__nav {
  text-transform: uppercase;
  font-size: $font-size-base;
  font-weight: $font-weight-bolder;

  a {
    margin-left: map-get($spacers, 3);
    margin-right: map-get($spacers, 3);
    text-decoration: none;
    color: $body-color;
  }
}

.header__phone {
  font-size: $font-size-base;
  font-weight: $font-weight-bolder;
}
