<div class="container">
  <div class="vh-100 d-flex align-items-center position-relative">
    <header class="header w-100 position-absolute top">
      <mat-toolbar class="px-0 bg-white">
        <div class="logo">&lt;/&gt;</div>

        <nav class="ml-5 header__nav d-none d-sm-block">
          <a href="#">O nas</a>
          <a href="#">Szkolenia</a>
          <a href="#">Kontakt</a>
        </nav>

        <mat-icon class="ml-auto mr-2 d-none d-sm-block">phone</mat-icon>
        <span class="header__phone d-none d-sm-block">885-887-887</span>
      </mat-toolbar>
    </header>

    <app-cover></app-cover>
  </div>
</div>

<div class="container">
  <app-services class="mt-n6" style="margin-bottom: 160px"></app-services>
  <app-about style="margin-bottom: 160px"></app-about>
  <app-courses style="margin-bottom: 160px"></app-courses>
  <app-contact style="margin-bottom: 160px"></app-contact>
</div>

<footer class="footer text-muted py-5">
  <div class="container d-flex align-items-center">
    <div class="logo footer__logo mr-4">&lt;/&gt;</div>
    &copy; 2021 Szkolenia z programowania
<!--    <div class="ml-auto">Polityka prywatności</div>-->
  </div>
</footer>
