<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" class="app__sidenav" mode="over" position="end" [autoFocus]="false">
    <div class="h-100 w-100 d-flex flex-column">
      <mat-toolbar class="px-3 bg-white">
        <mat-icon class="ml-auto mr-2 d-none d-sm-block">phone</mat-icon>
        <span class="header__phone d-none d-sm-block">885-887-887</span>

        <button mat-icon-button type="button" class="ml-auto" (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>

      <nav class="app-sidebar__nav">
        <mat-nav-list (click)="sidenav.close()">
          <a mat-list-item *ngFor="let item of navItems; let idx = index" (click)="onClickNavItem(item.anchor)"
             class="app-sidebar__nav-link" tabindex="-1">
            <span class="app-sidebar__nav-link-text">{{ item.label }}</span>
          </a>
        </mat-nav-list>
      </nav>

      <div class="mt-auto p-3">
        <a href="tel:885887887" mat-flat-button class="btn btn_lg w-100 btn_green">
          <mat-icon class="mr-2 mb-1">phone</mat-icon>
          885-887-887
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <div class="container">
      <div class="vh-100 d-flex align-items-center position-relative">
        <header class="header w-100 position-absolute top">
          <mat-toolbar class="px-0 bg-white">
            <div class="logo">&lt;/&gt;</div>

            <nav class="ml-5 header__nav d-none d-sm-block">
              <a (click)="onClickNavItem('onas')">O nas</a>
              <a (click)="onClickNavItem('szkolenia')">Szkolenia</a>
              <a (click)="onClickNavItem('kontakt')">Kontakt</a>
            </nav>

            <mat-icon class="ml-auto mr-2 d-none d-sm-block">phone</mat-icon>
            <span class="header__phone d-none d-sm-block">885-887-887</span>

            <button mat-icon-button class="ml-auto d-sm-none" aria-label="Rozwiń menu" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar>
        </header>

        <app-cover></app-cover>
      </div>
    </div>

    <div class="container">
      <app-services style="margin-top: -42px; margin-bottom: 115px"></app-services>
      <app-about id="onas" style="padding-top: 45px; padding-bottom: 91px"></app-about>
      <app-courses id="szkolenia" style="padding-top: 45px; padding-bottom: 115px"></app-courses>
      <app-contact id="kontakt" style="padding-top: 45px; padding-bottom: 160px"></app-contact>
    </div>

    <footer class="footer text-muted py-5">
      <div class="container d-flex align-items-center">
        <div class="logo footer__logo mr-4">&lt;/&gt;</div>
        &copy; 2021 Szkolenia z programowania
        <!--    <div class="ml-auto">Polityka prywatności</div>-->
      </div>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
