<section class="section">
  <header class="section__header">
    <h2 class="section__heading">Aktualne szkolenia</h2>
    <p class="section__lead">Najlbliższe, zaplanowane szkolenia na które można się już zapisywać.</p>
  </header>

  <div class="row">
    <div class="col">
      <article class="courses__item rounded" mat-ripple>
        <figure class="courses__item-figure courses__item-figure_deep-purple rounded">
          <fa-icon [icon]="faPhp"></fa-icon>
        </figure>
        <div class="px-1 pt-3">
          <h3 class="courses__item-heading mb-3">
            Podstawy PHP
          </h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faCalendar" class="opacity-5"></fa-icon>
              </span>
              24 kwi, 1 maj, 8 maj
            </li>
            <li class="mb-3">
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faClock" class="opacity-5"></fa-icon>
              </span>
              21 godz. <span class="opacity-66">(3 dni)</span>
            </li>
            <li>
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faCreditCard" class="opacity-5"></fa-icon>
              </span>
              1 600 PLN
            </li>
          </ul>

          <hr class="my-3">

          <figure class="d-flex align-items-center mb-0">
            <img src="./assets/mdobroszek.jpg" alt="" class="img-fluid rounded-circle mr-3" width="38" height="38">
            <figcaption>
              <div class="font-weight-bolder font-size-base mb-n1">Marcin Dobroszek</div>
              <div class="text-uppercase opacity-5">Frontend developer</div>
            </figcaption>
          </figure>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="courses__item rounded" mat-ripple>
        <figure class="courses__item-figure courses__item-figure_red rounded">
          <fa-icon [icon]="faAngular"></fa-icon>
        </figure>
        <div class="px-1 pt-3">
          <h3 class="courses__item-heading mb-3">
            Angular - pierwsza aplikacja
          </h3>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faCalendar" class="opacity-5"></fa-icon>
              </span>
              24 kwi, 1 maj, 8 maj
            </li>
            <li class="mb-3">
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faClock" class="opacity-5"></fa-icon>
              </span>
              21 godz. <span class="opacity-66">(3 dni)</span>
            </li>
            <li>
              <span class="courses__item-icon-wrap mr-1">
                <fa-icon [icon]="faCreditCard" class="opacity-5"></fa-icon>
              </span>
              1 600 PLN
            </li>
          </ul>

          <hr class="my-3">

          <figure class="d-flex align-items-center mb-0">
            <img src="./assets/mdobroszek.jpg" alt="" class="img-fluid rounded-circle mr-3" width="38" height="38">
            <figcaption>
              <div class="font-weight-bolder font-size-base mb-n1">Marcin Dobroszek</div>
              <div class="text-uppercase opacity-5">Frontend developer</div>
            </figcaption>
          </figure>
        </div>
      </article>
    </div>
    <div class="col">
      <article class="courses__item rounded h-100 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <mat-icon class="courses__icon-more mb-3">more_horiz</mat-icon>
          <p class="font-size-base text-muted">Kolejne kursy <br> wkrótce...</p>
        </div>
      </article>
    </div>
  </div>
</section>
