@import "../../../styles/abstracts/variables";

:host {
  display: block;
}

.services__item {
  background: linear-gradient(45deg, map-get($mat-gray, 50), map-get($mat-gray, 100));
  padding: map-get($spacers, 4);
}
