<section class="section mb-n4">
  <div class="row">
    <div class="col-md-6 col-lg-4 pb-4">
      <article class="services__item rounded h-100">
        <mat-icon style="height: 46px; width: 46px; font-size: 46px" class="mb-2" color="primary">work_outline</mat-icon>
        <h3 class="mb-2">Doświadczenie</h3>
        <p class="mb-0">Jesteśmy programistami z wieloletnim doświadczeniem w pracy nad komercyjnymi projektami.</p>
      </article>
    </div>
    <div class="col-md-6 col-lg-4 pb-4">
      <article class="services__item rounded h-100">
        <mat-icon style="height: 46px; width: 46px; font-size: 46px" class="mb-2" color="primary">speed</mat-icon>
        <h3 class="mb-2">Szybkość nauki</h3>
        <p class="mb-0">Ułatwiamy start dzięki wspólnemu przeprowadzeniu przez pierwsze, najtrudniejsze kroki.</p>
      </article>
    </div>
    <div class="col-lg-4 pb-4">
      <article class="services__item rounded h-100">
        <mat-icon style="height: 46px; width: 46px; font-size: 46px" class="mb-2" color="primary">star_outline</mat-icon>
        <h3 class="mb-2">Technologie</h3>
        <p class="mb-0">Podczas wspólnego programowania będziemy posługiać się wyłącznie nowoczesnymi technologiami.</p>
      </article>
    </div>
  </div>
</section>
